@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.page {
  background-color: rgb(254, 255, 255);
  font-family: "Anonymous Pro", monospace;
  height: 900px;
  width: 100%;
}

.main {
  margin: 0 auto;
}

.header nav {
  background-color: rgba(57, 68, 117, 1);
  padding: 20px;
}

.title {
  padding: 30px;
  width: 100%;
}

.h1 {
  color: black;
  font-size: 32px;
  font-weight: 400;
}

.top {
  display: flex;
  justify-content: center;
  padding: 30px;
  width: 100%;
}

.addIngredients {
  color: rgba(183, 138, 41, 1);
  font-size: 32px;
  font-style: italic;
  font-weight: 800;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(81, 62, 22, 1);
}

.textInput {
  background-color: rgba(231, 231, 231, 1);
  border-radius: 10px;
  color: rgb(38, 38, 38);
  font-family: "Anonymous Pro", monospace;
  padding: 10px;
  width: 50%;
}

.aButton {
  background-color: rgba(183, 138, 41, 1);
  border-radius: 10px;
  color: white;
  font-family: "Anonymous Pro", monospace;
  font-size: 24px;
  font-weight: 600;
  margin: 0 10px;
  max-width: 300px;
  padding: 5px 20px;
}

.gridContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}

.ingredientGrid {
  color: black;
  display: grid;
  font-size: 24px;
  font-weight: 800;
  gap: 16px;
  grid-template-columns: repeat(5, 1fr);
  list-style-type: none;
  min-height: 400px;
  padding: 16px;
  text-align: center;
  width: 90%;
}

.ingredientGrid li {
  padding: 8px;
}

.ingredientGrid li:hover {
  background-color: rgb(232, 181, 183);
  border-radius: 10px;
  cursor: pointer;
  max-height: 40px;
}

.recipeContainer {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: center;
  min-height: 80%;
  min-width: 70%;
  z-index: 20;
}

.recipeCard {
  align-items: center;
  background-color: white;
  border: solid 5px black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 600px;
  margin: 50px;
  padding: 20px;
  width: 400px;
}

.inventoryContainer {
  background-color: white;
  padding-bottom: 200px;
}

.recipeTitle {
  color: black;
  font-weight: 700;
  height: 100px;
  margin: 10px 0;
  text-align: center;
}

.neededIngredient {
  color: black;
  list-style-type: none;
  margin: 5px;
  text-align: center;
}

.recipeSubtitle {
  color: black;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  margin: 10px 0;
  text-align: center;
}

.image {
  border: double 5px rgba(183, 138, 41, 1);
  border-radius: 20px;
  margin: 20px 0;
  width: 300px;
}

.mainTitle {
  color: white;
  font-size: 36px;
  text-align: center;
}
